.NewInfoButton {
    background-color: var(--color-button-background);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.NewInfoButton:hover {
    background-color: var(--color-button-background-hover);
}
.NewInfoButton:disabled {
    cursor: not-allowed;
    background-color: var(--color-button-disabled-background);
    color: var(--color-button-disabled-label);
}

.company-name {
    color: var(--color-info-label);
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: var(--color-link);
    transition: background-color 0.3s ease;
}
.link:hover {
    background-color: transparent;
}
.link.active {
    border-bottom: 2px solid #2376cc;
}

.sortable {
    cursor: pointer;
    user-select: none;
}